<div class="modal fade" id="garbage_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= render 'form', garbage: @garbage %>

      <%= link_to 'Back', garbages_path %>
    </div>
  </div>
</div>
