<div class="card card-cascade wider reverse mt-3">
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center pb-5">

    <!-- Title -->
    <h4 class="card-title"><strong>Добредојдовте на Еко Чекор!</strong></h4>
    <!-- Text -->
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis
      voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
      laborum ut beatae ullam suscipit veniam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis
      voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
      laborum ut beatae ullam suscipit veniam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis
      voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
      laborum ut beatae ullam suscipit veniam.
    </p>
    <button type="button" class="btn btn-success w-50 mt-5" data-toggle="modal" data-target="#form">
      Направи го првиот чекор и најави се!
    </button>
  </div>
</div>