<div class="card card-cascade wider reverse mt-auto">
  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">
    © 2020 Copyright: Еко Чекор  - <%= Time.now.strftime("%d %B %Y") %>
  </div>
</div>