<button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#login-form">
  Регистрирај се
</button>


<div class="modal fade" id="login-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form class="text-center border border-light p-5" action="<%= user_registration_path %>" method="post">

        <p class="h4 mb-5">Регистрација</p>

        <!-- Email -->
        <input type="email" id="user_email" class="form-control mb-4" placeholder="Емаил Адреса" name="user[email]">

        <!-- Password -->
        <input type="password" id="user_password" class="form-control mb-4" placeholder="Лозинка" name="user[password]">

        <!-- Password Confirmation -->
        <input type="password" id="user_password_confirmation" class="form-control mb-4" placeholder="Потврди Лозинка" name="user[password_confirmation]">

        <!-- Name -->
        <input type="name" id="user_name" class="form-control mb-4" placeholder="Име и Презиме" name="user[name]">

        <!-- Sign in button -->
        <button class="btn btn-primary btn-block my-4 mt-5" type="submit">Регистрирај се</button>
      </form>
    </div>
  </div>
</div>